In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import ensemble
import pandas as pd
from sklearn import metrics
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
wine_cols = ['Class', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols', \
              'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315',\
              'Proline']
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', names = wine_cols) 
wine = pd.DataFrame(wine)
wine.Class = wine.Class - 1
wine

     Class  Alcohol  Malic acid  ...   Hue  OD280/OD315  Proline
0        0    14.23        1.71  ...  1.04         3.92     1065
1        0    13.20        1.78  ...  1.05         3.40     1050
2        0    13.16        2.36  ...  1.03         3.17     1185
3        0    14.37        1.95  ...  0.86         3.45     1480
4        0    13.24        2.59  ...  1.04         2.93      735
..     ...      ...         ...  ...   ...          ...      ...
173      2    13.71        5.65  ...  0.64         1.74      740
174      2    13.40        3.91  ...  0.70         1.56      750
175      2    13.27        4.28  ...  0.59         1.56      835
176      2    13.17        2.59  ...  0.60         1.62      840
177      2    14.13        4.10  ...  0.61         1.60      560

[178 rows x 14 columns]

In [ ]:
from sklearn.model_selection import train_test_split
y = wine.loc[:,'Class'].values
X = wine.loc[:,'Alcohol':'Proline'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.11235955056,random_state=1)

In [ ]:
model = ensemble.AdaBoostClassifier()
model.fit(X_train, y_train)
print(model)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

In [ ]:
expected_y  = y_test
predicted_y = model.predict(X_test)

In [ ]:
target_names = ['class 0', 'class 1', 'class 2']
print(metrics.classification_report(expected_y, predicted_y, target_names=target_names))
print(metrics.confusion_matrix(expected_y, predicted_y))

              precision    recall  f1-score   support

     class 0       1.00      0.88      0.93         8
     class 1       0.73      1.00      0.84         8
     class 2       1.00      0.50      0.67         4

    accuracy                           0.85        20
   macro avg       0.91      0.79      0.81        20
weighted avg       0.89      0.85      0.84        20

[[7 1 0]
 [0 8 0]
 [0 2 2]]